body {
	background-color:#522d5b;
	margin: 0;
	padding: 0;
}

header {
	background-color:#522d5b;
	padding: 1em 1em 1em 1em;
	font-weight: normal;
	color: white;
}

header div.head {
	overflow: hidden;
	margin-bottom: .5em;
}

header img {
	float: right;
}

header h1 {
	padding-top: .5em;
	border-bottom: 2px solid white;
	font-size: 1.5em;
	margin-bottom: 0.1em;
}

header h2 {
	font-size: 0.9em;
	margin: 0;
}

header nav {
	overflow: hidden;
	border-radius: 3px;
	background: linear-gradient(to bottom, #d7385e,#ffb6b6);
	padding: 1em;
}

header nav div.izda {
	float: left;
}

header nav div.dcha {
	float: right;
}

header nav span + span:before {
    content: " | ";
    padding: 0 .3em;
}

.menuitem {    
	font-family: verdana, arial, sans-serif;
	border-radius: 3px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

.menuitem:link, .menuitem:visited {
	color:white;
}

.menuitem:hover {
	background-color: #827397;
}

div.pagina {
	position: relative;
	min-height: 100vh;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

section.principal {
  flex: 1 0 auto;
  	font-family: verdana, arial, sans-serif;
	border-radius: 3px;
	padding: 10px;
	text-decoration: none;
}
.bottom{
	font-family: verdana, arial, sans-serif;
	border-radius: 6px;
	padding: 10px;
	color: white;
	text-decoration: none;
	background-color:#b590ca;

}
.bottom:hover {
	background-color: #827397;
}

footer {
	flex-shrink: 0;
	background-color:#827397;
	font-weight: normal;
	color: white;
	padding: 1em;
}

div.sinpermiso {
	width: 50%;
	margin: auto;	
}

div.error {
	text-align: center;
	border: 1px solid red;
	border-radius: 10px;
	margin: 2em auto .5em auto;
	padding: .5em 2em .5em 2em;
	color: red;
}
